<footer>
  <hr>
  <p><%= current_year %></p>
  <p>Тест-Гуру - приложение для создания, управления и выполнения тестов</p>
  <p>Проект: <%= github_url('dwk5', 'test_guru')%></p>
  <p>Автор: <%= github_url_author('Дмитрий Ковалев', 'dwk5')%>
  <p><%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com", target: "_blank" %></p>
  <hr>
</footer>
